.title-lg 
	font-family: $walsheim
	+f(64px,700,.87) 
	letter-spacing: -0.03em 
	+sm
		font-size: 30px
.title-md
	font-family: $walsheim
	+f(36px,400,1.05)
	letter-spacing: -0.03em
	// color: #7A7A7A 
	+sm
		font-size: 24px

.text-italic
	font-style: italic