---
title: Edit-steps
bodyClass: is-gray
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({
		static: true
	}) }}

	<div class="inner">
		{{ mixins.steps({
			list: [
				{
					class: 'is-check',
					text: '1. Выберите категорию'
				},
				{
					class: 'is-check',
					text: '2. Общая информация'
				},
				{
					class: 'is-active',
					text: '3. Опишите шаги'
				},
				{
					text: '4. Проверка и публикация'
				}
			]
		}) }}
	</div>
	<div class="wrap">
		<form action="/">
			<!-- begin step -->
			<div class="step">
				<div class="step__inner inner inner_sm">
					<div class="step__control form-control">
						<label class="form-control__label form-control__label_lg">Шаг 1.</label>
						<input type="text" class="step__input input input_lg" value="Подготовка" placeholder="Назовите шаг">
					</div>
					<div class="form-control">
						<div class="form-info" style="top: 140px; left: 100%;">Выделите текст, чтобы увидеть все возможности его редактирования.</div>
						<div class="article-field" contenteditable="true" placeholder="Начните писать...">
							<h5>Узнать, как правильно доить корову, нельзя без определенной подготовки. Дойка начинается с массажа. Его начинают с верхней части, постепенно продвигаясь к соскам.</h5>
							<p>Непосредственно перед дойкой вымя нужно вымыть водой с хозяйственным мылом (рисунок 1). Такой раствор поможет размягчить соски, очистить их от грязи. Вода не должна быть слишком теплой, чтобы молоко не свернулось. После мытья вымя вытирают чистым сухим полотенцем. Руки тоже нужно тщательно вымыть с мылом, а при аппаратной дойке – продезинфицировать устройство.</p>
							<div class="edit-buttons" style="top: 7%; left: 50%;">
								{% for item in [
									{svg: "B"},
									{svg: "i", active: true},
									{svg: "ol"},
									{svg: "ul"}
								] %}
									<button type="button" class="edit-buttons__btn{% if item.active %} is-active{% endif %}">
										{{ mixins.icon(item.svg) }}
									</button>
								{% endfor %}
								<div class="edit-buttons__arrow">
									{{ mixins.icon("bottom-arrow") }}
								</div>
							</div>
							<div class="img-wrap">
								<div class="img-block js-img-block">
									<div class="img-block__overlay js-img-block-overlay"></div>
									<button class="img-block__close js-img-block-close" type="button" contenteditable="false">закрыть</button>
									<div class="img-block__wrap" contenteditable="false">
										<div class="img-block__note">2. Добавьте примечание</div>
										<div class="img-block__controls">
											<button class="img-block__control btn-control js-edit-img" type="button">{{ mixins.icon('edit') }}</button>
											<button class="img-block__control btn-control js-remove-img" type="button">{{ mixins.icon('remove') }}</button>
										</div>
										<div class="img-block__point point js-point" style="top: 40%; left: 25%;">
											<buttton class="point__trigger js-point-trigger" type="button"></buttton>
											<div class="point__drop js-point-drop">
												<div class="point__input">
													<input type="text" placeholder="Опишите, что тут важно">
												</div>
												<div class="point__footer">
													<button class="point__btn js-point-remove" type="button">УДАЛИТЬ</button>
													<button class="point__btn point__btn_blue" type="button">СОХРАНИТЬ</button>
												</div>
											</div>
										</div>
										<img src="./img/cow.jpg" alt="cow">
									</div>
									<div class="img-block__label">Рисунок 1. Подбираемся поближе</div>
									<div class="message" contenteditable="false">
										<div class="message__wrap">
											Инструкция сохранена в черновик
											<button class="message__close" type="button">{{ mixins.icon('remove') }}</button>
										</div>
									</div>
								</div>
							</div>
							<p>Такой раствор поможет размягчить соски, очистить их от грязи. Вода не должна быть слишком теплой, чтобы молоко не свернулось. После мытья вымя вытирают чистым сухим полотенцем. Руки тоже нужно тщательно вымыть с мылом, а при аппаратной дойке – продезинфицировать устройство.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end step -->
			<!-- begin step -->
			<div class="step">
				<div class="step__inner inner inner_sm">
					<div class="step__control form-control">
						<label class="form-control__label form-control__label_lg">Шаг 2.</label>
						<input type="text" class="step__input input input_lg" value="Техника доения" placeholder="Назовите шаг">
					</div>
					<div class="form-control">
						<div class="form-info" style="top: 820px; left: 100%;">Нажмите, чтобы выбрать фото. Выберите несколько файлов, чтобы добавить фотогалерею</div>
						<div class="article-field" contenteditable="true" placeholder="Начните писать...">
							<div class="paste-buttons" style="top: 90%">
								{% for item in [
									{svg: "code", active: true},
									{svg: "video"},
									{svg: "photo"}
								] %}
									<button type="button" class="paste-buttons__btn">
										{{ mixins.icon(item.svg) }}
									</button>
								{% endfor %}
							</div>
							<h5>Чтобы узнать, как правильно доить корову руками, нужно сделать следующее:</h5>
							<ol>
								<li>Правильно захватить сосок можно так: расположить все пальцы на соске, чтобы указательный находился под большим, а мизинец – с наружной части соска;</li>
								<li>Сжимая кулак, необходимо следить, чтобы сосок не кривился, а льющееся молоко не должно контактировать с руками;</li>
								<li>Чтобы молоко лилось из соска струей, сжимают не все пальцы сразу, а сверху вниз: сначала большой и указательный, постепенно спускаясь к мизинцу. Такая техника улучшает приток молока.</li>
								<li>После этого кулак разжимают, но пальцы с соска не убирают.</li>
								<li>Когда начинается сжатие безымянного пальца и мизинца, остальные пальцы следует сжать, чтобы молоко не пошло вверх. Далее алгоритм действий повторяется.</li>
							</ol>
							<div class="img-wrap">
								<div class="img-wrap__row row">
									<div class="img-wrap__col col-md-6">
										<div class="img-block js-img-block">
											<div class="img-block__overlay js-img-block-overlay"></div>
											<button class="img-block__close js-img-block-close" type="button" contenteditable="false">закрыть</button>
											<div class="img-block__wrap" contenteditable="false">
												<div class="img-block__note">2. Добавьте примечание</div>
												<div class="img-block__controls">
													<button class="img-block__control btn-control js-edit-img" type="button">{{ mixins.icon('edit') }}</button>
													<button class="img-block__control btn-control js-remove-img" type="button">{{ mixins.icon('remove') }}</button>
												</div>
												<div class="img-block__point point js-point" style="top: 40%; left: 25%;">
													<buttton class="point__trigger js-point-trigger" type="button"></buttton>
													<div class="point__drop js-point-drop">
														<div class="point__input">
															<input type="text" placeholder="Опишите, что тут важно">
														</div>
														<div class="point__footer">
															<button class="point__btn js-point-remove" type="button">УДАЛИТЬ</button>
															<button class="point__btn point__btn_blue" type="button">СОХРАНИТЬ</button>
														</div>
													</div>
												</div>
												<img src="./img/cow.jpg" alt="cow">
											</div>
											<div class="img-block__label">Рисунок 2. Доение с аппаратом</div>
										</div>
									</div>
									<div class="img-wrap__col col-md-6">
										<div class="img-block js-img-block">
											<div class="img-block__overlay js-img-block-overlay"></div>
											<button class="img-block__close js-img-block-close" type="button" contenteditable="false">закрыть</button>
											<div class="img-block__wrap" contenteditable="false">
												<div class="img-block__note">2. Добавьте примечание</div>
												<div class="img-block__controls">
													<button class="img-block__control btn-control js-edit-img" type="button">{{ mixins.icon('edit') }}</button>
													<button class="img-block__control btn-control js-remove-img" type="button">{{ mixins.icon('remove') }}</button>
												</div>
												<div class="img-block__point point js-point" style="top: 40%; left: 25%;">
													<buttton class="point__trigger js-point-trigger" type="button"></buttton>
													<div class="point__drop js-point-drop">
														<div class="point__input">
															<input type="text" placeholder="Опишите, что тут важно">
														</div>
														<div class="point__footer">
															<button class="point__btn js-point-remove" type="button">УДАЛИТЬ</button>
															<button class="point__btn point__btn_blue" type="button">СОХРАНИТЬ</button>
														</div>
													</div>
												</div>
												<img src="./img/cow.jpg" alt="cow">
											</div>
											<div class="img-block__label img-block__label_no-edit">Добавьте описание…</div>
										</div>
									</div>
								</div>
							</div>
							<p>Лучше доить сначала два передних соска, а затем два задних, так как выдавливание молок сначала из правой, а затем из левой доли может привести к недостаточному удалению молока из задней части. Это объясняется тем, что одна часть вымени будет доиться более сильной (правой) рукой, а другая – более слабой.</p>
							<p>
								&nbsp;
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end step -->
			<!-- begin step -->
			<div class="step">
				<div class="step__inner inner inner_sm">
					<div class="step__control form-control">
						<label class="form-control__label form-control__label_lg">Шаг 3.</label>
						<input type="text" class="step__input input input_lg" placeholder="Назовите шаг">
					</div>
					<div class="form-control">
						<div class="form-info" style="top: 820px; left: 100%;">Нажмите, чтобы выбрать фото. Выберите несколько файлов, чтобы добавить фотогалерею</div>
						<div class="article-field" contenteditable="true" placeholder="Начните писать..."></div>
					</div>
				</div>
			</div>
			<!-- end step -->
			<!-- begin step -->
			<div class="step">
				<div class="step__inner inner inner_sm">
					<div class="step__footer">
						<div class="step__control form-control">
							<button class="btn btn_wide btn_white btn_bord-sm" type="button">добавить шаг</button>
						</div>
						<div class="step__divider form-control">или</div>
						<div class="step__control form-control">
							<button class="btn btn_wide btn_blue" type="submit">готово (проверить)</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end step -->
		</form>
	</div>

{% endblock %}
