<!-- begin instructions -->
<div class="instructions" style="background-image: url(./img/instructions-img.png);">
	<div class="instructions__inner inner">
		<div class="instructions__wrap">
			<h3 class="instructions__title title-md">Инструкции на все случаи жизни</h3>
			<p>Энциклопедия практических знаний WikiRuki помогает решать повседневные, бытовые задачи. Здесь мы делимся своим опытом, рассказывая, как правильно готовить, строить, программировать, чинить, и многое-многое другое.</p>
		</div>
		<div class="instructions__footer">
			<a href="#" class="btn btn_blue">СОЗДАТЬ АККАУНТ</a>
		</div>
	</div>
</div>
<!-- end instructions -->