.icon-B {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
}
.icon-arr-right {
  width: 1.55em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-bottom-arrow {
  width: 4em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-code {
  width: 1.63em;
  height: 1em;
  fill: currentColor;
}
.icon-dwnld {
  width: 0.71em;
  height: 1em;
  fill: currentColor;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-exclamation {
  width: 0.25em;
  height: 1em;
  fill: currentColor;
}
.icon-face {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-heart-outline {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-heart {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-i {
  width: 0.33em;
  height: 1em;
  fill: currentColor;
}
.icon-l {
  width: 0.55em;
  height: 1em;
  fill: currentColor;
}
.icon-login-arrow {
  width: 4.16em;
  height: 1em;
  fill: currentColor;
}
.icon-odnoklasniki {
  width: 0.61em;
  height: 1em;
  fill: currentColor;
}
.icon-ol {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-photo {
  width: 1.22em;
  height: 1em;
  fill: currentColor;
}
.icon-prnt {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
.icon-remove {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-ruble {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-star {
  width: 1.08em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1.2em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
}
.icon-ul {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
}
.icon-video {
  width: 1.56em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1.67em;
  height: 1em;
  fill: currentColor;
}
