.icon-arr-right {
  width: 1.55em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-heart-outline {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-heart {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-login-arrow {
  width: 4em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-star {
  width: 1.08em;
  height: 1em;
  fill: currentColor;
}
