.icon-arr-right {
  width: 1.55em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-exclamation {
  width: 0.25em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-heart-outline {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-heart {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-l {
  width: 0.55em;
  height: 1em;
  fill: currentColor;
}
.icon-login-arrow {
  width: 4em;
  height: 1em;
  fill: currentColor;
}
.icon-photo {
  width: 1.22em;
  height: 1em;
  fill: currentColor;
}
.icon-remove {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-ruble {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-star {
  width: 1.08em;
  height: 1em;
  fill: currentColor;
}
